<div class="container">
    <div class="card">
        <div class="card-header">
        
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="font">A book is a medium for recording information in the form of writing or images, typically composed of many pages (made of papyrus, parchment, vellum, or paper) bound together and protected by a cover.[1] The technical term for this physical arrangement is codex (plural, codices). In the history of hand-held physical supports for extended written compositions or records, the codex replaces its predecessor, the scroll. A single sheet in a codex is a leaf and each side of a leaf is a page.

              As an intellectual object, a book is prototypically a composition of such great length that it takes a considerable investment of time to compose and still considered as an investment of time to read. In a restricted sense, a book is a self-sufficient section or part of a longer composition, a usage reflecting that, in antiquity, long works had to be written on several scrolls and each scroll had to be identified by the book it contained. Each part of Aristotle's Physics is called a book. In an unrestricted sense, a book is the compositional whole of which such sections, whether called books or chapters or parts, are parts.</p>
              <br>
            <footer class="blockquote-footer"> <cite title="Contact Us">Indian Book Store
                Open 24x7
                </cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    