
<div class="bgrnd" >


<h3>Edit your Books</h3>
<div>
    
<a class="nav-link" style="text-align: end; font-weight: bold; color: blue;"  routerLink="/authorBooks" href="#">All My Books</a>
<a class="nav-link" style="text-align: end; font-weight: bold; color: red;" routerLink="" href="#">Log Out</a>

</div>

<div class="input-group">
    <span class="input-group-text">Title</span>
    <input required type="title" id="typeTitleX" name="title" #title="ngModel" type="text"  placeholder="Title of the book" [(ngModel)]=book.title aria-label="First name"
        class="form-control">
    <div class="alert alert-danger" *ngIf=" title.touched && !title.valid">Title is Required</div>

</div>

<br>
<div class="input-group">
    <span class="input-group-text">Author Name</span>
    <input required type="authorName" id="typeauthorNameX" name="authorName" #authorName="ngModel" type="text"  placeholder="Please Enter Your Name" [(ngModel)]=book.authorName aria-label="First name"
        class="form-control">
        <div class="alert alert-danger" *ngIf=" authorName.touched && !authorName.valid">Author Name is Required</div>

</div>
<br>
<div class="input-group">
    <span class="input-group-text">Category</span>
    <input required type="category" id="typecategoryX" name="category" #category="ngModel"  type="text"  placeholder="eg: FICTION, SUSPENSE, THRILLER etc" [(ngModel)]=book.category aria-label="First name"
        class="form-control">
    <div class="alert alert-danger" *ngIf=" category.touched && !category.valid">Mention the Category </div>

</div>
<br>
<div class="input-group">
    <span class="input-group-text">Image</span>
    <input   required type="image" id="typeImageX" name="image" #image="ngModel" type="text"  placeholder="please insert image url" [(ngModel)]=book.image aria-label="First name"
        class="form-control">
        <div class="alert alert-danger" *ngIf=" image.touched && !image.valid">Specify the Image URL </div>


</div>
<br>
<div class="input-group">
    <span   class="input-group-text">Price</span>
    <input required type="price" id="typePriceX" name="price" #price="ngModel" type="text"   aria-label="Price" [(ngModel)]=book.price
        class="form-control">
        <div class="alert alert-danger" *ngIf=" price.touched && !price.valid">Specify the Price </div>
</div>

<br>
<div class="input-group">
    <span class="input-group-text">Publisher</span>
    <input required type="publisher" id="typePublisherX" name="publisher" #publisher="ngModel" type="text" type="text"   aria-label="Publisher name" [(ngModel)]=book.publisher
        class="form-control">
        <div class="alert alert-danger" *ngIf=" publisher.touched && !publisher.valid">Mention Publishers name </div>

</div>
<br>
<div class="input-group">
    <span class="input-group-text">Active</span>
    <input required type="active" id="typeActiveX" name="active" #active="ngModel" type="text"   aria-label="Active" [(ngModel)]=book.active
        class="form-control">
        <div class="alert alert-danger" *ngIf=" active.touched && !active.valid">True or False </div>
</div>

<br>
<div class="input-group">
    <span class="input-group-text">Content</span>
    <input required type="content" id="typeContentX" name="content" #content="ngModel" type="text"   aria-label="Content" [(ngModel)]=book.content
        class="form-control">
        <div class="alert alert-danger" *ngIf=" content.touched && !content.valid">Write the Contents </div>


</div>


<br>
<button class="btn btn-primary" (click)="updatemethod()">update</button>

</div>
