<h3>Update a Book</h3>
<div>
    
<a class="nav-link" style="text-align: end;"  routerLink="/authorBooks" href="#">All My Books</a>
<a class="nav-link" style="text-align: end;" routerLink="" href="#">Log Out</a>

</div>

<div class="input-group">
    <span class="input-group-text">Title</span>
    <input required type="title" id="typeTitleX" name="title" #title="ngModel" type="text"  placeholder="Title of the book" [(ngModel)]=book.title aria-label="First name"
        class="form-control">
    <div class="alert alert-danger" *ngIf=" title.touched && !title.valid">Title is Required</div>

</div>

<br>
<div class="input-group">
    <span class="input-group-text">Author Name</span>
    <input required type="authorName" id="typeauthorNameX" name="authorName" #authorName="ngModel" type="text"  placeholder="Please Enter Your Name" [(ngModel)]=book.authorName aria-label="First name"
        class="form-control">
        <div class="alert alert-danger" *ngIf=" authorName.touched && !authorName.valid">Author Name is Required</div>

</div>
<br>
<div class="input-group">
    <span class="input-group-text">Category</span>
    <input required type="category" id="typecategoryX" name="category" #category="ngModel"  type="text"  placeholder="eg: FICTION, SUSPENSE, THRILLER etc" [(ngModel)]=book.category aria-label="First name"
        class="form-control">
    <div class="alert alert-danger" *ngIf=" category.touched && !category.valid">Mention the Category </div>

</div>
<br>
<div class="input-group">
    <span class="input-group-text">Image</span>
    <input   required type="image" id="typeimageX" name="image" #image="ngModel" type="text"  placeholder="please insert image url" [(ngModel)]=book.image aria-label="First name"
        class="form-control">
        <div class="alert alert-danger" *ngIf=" image.touched && !image.valid">Mention the Category </div>


</div>
<br>
<div class="input-group">
    <span class="input-group-text">Price</span>
    <input type="text"   aria-label="Price" [(ngModel)]=book.price
        class="form-control">

</div>
<br>
<div class="input-group">
    <span class="input-group-text">Publisher</span>
    <input type="text"   aria-label="Publisher name" [(ngModel)]=book.publisher
        class="form-control">

</div>
<br>
<div class="input-group">
    <span class="input-group-text">Active</span>
    <input type="text"   aria-label="Active" [(ngModel)]=book.active
        class="form-control">

</div>
<br>
<div class="input-group">
    <span class="input-group-text">Content</span>
    <input type="text"   aria-label="Content" [(ngModel)]=book.content
        class="form-control">

</div>


<br>
<button class="btn btn-primary" (click)="updatemethod()">update</button>
