<!-- search section -->
<div class="page" style="background-color:rgb(236, 70, 41) ;" > 
<section class="vh-100 bg-image" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/688/191/768/library-photoshop-magic-misty-romantic-hd-wallpaper-preview.jpg');"
    class="image">
    
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5" style="font-size: x-large; color: blue;">Are you looking for Books ? </h2>



                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example1cg"
                                    placeholder="SUSPENSE, ROMANCE, THRILLER.." [(ngModel)]=book.category
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example1cg" style="color: rgb(35, 14, 129);">Category</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="Author Name" id="form3Example3cg" [(ngModel)]=book.authorName
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example3cg" style="color: rgb(35, 14, 129);">Author Name</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="Price" id="form3Example3cg" [(ngModel)]=book.price
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example3cg" style="color: rgb(35, 14, 129);">Price</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="Publisher" id="form3Example3cg" [(ngModel)]=book.publisher
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example3cg" style="color: rgb(35, 14, 129);" >Publisher</label>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button"
                                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                                    (click)="searchBooks(book.category,book.authorName,book.price,book.publisher) ">Search</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<br>
<br>

<h2>Here is our Latest Collections...!</h2>


<div class="row gy-2 my-2">
    <div class="col-sm-2" *ngFor="let book of books">
        <div class="card">
            <img [src]="book.image" width="50" height="160" class="card-img-top" alt="image">
            <div class="card-bodys">
                <p class="card-texts">
                    <label> Book Id: </label>
                    {{book.id}}
                </p>
                <p class="card-texts">
                    <label> Title: </label>
                    {{book.title}}
                </p>
                <p class="card-texts">
                    <label> AuthorName: </label>
                    {{book.authorName}}
                </p>
                <p class="card-texts">
                    <label> Price: </label>
                    {{book.price | currency:'INR'}}
                </p>
                <p class="card-texts">
                    <label> Publisher: </label>
                    {{book.publisher}}
                </p>
                <p class="card-texts">
                    <label> Category: </label>
                    {{book.category | uppercase}}
                </p>
                <p class="card-texts">
                    <label> Active: </label>
                    {{book.active}}
                </p>
                <p class="card-texts">
                    <label> Content: </label>
                    {{book.content}}
                </p>
               
                <td><button type="button" class="btn btn-dark" (click)="addToCart(book.id)">Add to Cart</button></td>
               
            </div>
        </div>
    </div>
</div>
</div>